.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #FFFFFF;
  height: 176px;
  background: url('../img/C1.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #FFFFFF;
}

.support-text {
  color: #341F97;
  font-weight: bold;
}