@font-face {
    font-family: 'montserrat_alternatesbold';
    src: url('../fonts/montserratalternates-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserratalternates-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block .heading{
    font-family: 'montserrat_alternatesbold';
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    color: white;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
  font-family: 'montserratsemibold';
  font-size: 12px;
  font-weight: bold;
  text-align: center
}

.gallery-block.cards-gallery .card{
  cursor: pointer;
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-family: 'montserratsemibold';
  font-size: 15px;
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-15px) scale(1.1);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}